.color1{ background: lightblue; }
.color2{ background: blue; }
.color3{ background: blueviolet; }
.color4{ background: red; }
.color5{ background: greenyellow; }
.color6{ background: yellow; }
.color7{ background: pink; }
.color8{ background: orange; }
.color9{ background: mediumseagreen; }
